.logo-above-form {
  width: 100%;
  text-align: center;
  margin-top: 60px;

  img {
    height: 100px;
  }
}

.go-home-link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  margin: 18px;
}

.go-home-link i {
  margin-right: 6px;
}

.go-home-link:hover {
  color: #5cd3ff;
}
// Sign-in and sign-up styles

.sign-in-form,
.sign-up-form {
  min-width: 350px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: x-large;
    font-weight: 600;
    text-align: center;
  }
}

.sign-in-link-container a:hover,
.sign-up-link-container a:hover {
  color: #5cd3ff;
}


form {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  border-radius: 5px;
  font-size: 14px;
}

.sign-in-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: white;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  padding: 10px 20px;
  background-color: white;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: not-allowed;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

button i {
  font-size: 1.2em;
  color: inherit;
}

.sign-in-link-container,
.sign-up-link-container {
  text-align: center;
}

a {
  color: #373737;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}